<div class="navbar">
  <h1>Delicious burgers to make and eat!</h1>
</div>
<div class="content">
  <div class="noEat">

  </div>
  <div class="eat">

  </div>
</div>
<div class="footer">
  <p>y tho</p>
</div>
