<div class="navbar">
  <h1>Delicious burgers to make and eat!</h1>
</div>
<div class="content">
  <div class="noEat">
  <ul>
    {{#each burger}}
      {{#unless devoured}}
        {{> burgers/burger-block devoured=true}}
      {{/unless}}
    {{/each}}
  </ul>

  </div>
  <div class="eat">
    <ul>
      {{#each burger}}
        {{#if devoured}}
          {{> cats/cat-block devoured=false}}
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
<div class="footer">
  <h2><b>Add a Burger!</b></h2>
    <h4>Add a burger to eat</h4>
      <div class="row">
          <form class="create-form">
            <div class="form-group">
            <input class="form-control" type="text" id="burgers_name" name="name" placeholder="Add food :)">
            <button type="submit" id = "add-button">Add a burger</button></div>
          </form>
      </div>
</div>
  <p>y tho</p>
</div>
